.modal {
    width: 50%;
    margin: auto;
    background: #cccccc;
    border-radius: 8px;
    border: 1px solid #cccccc;
    transition: 0.5s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    position: absolute; 
}